# Node.js dependencies
node_modules/

# npm package-lock file
package-lock.json


# .env files for environment variables
.env
.env.* 

# Log files
*.log

# System files
.DS_Store
Thumbs.db

# IDE or editor directories
.vscode/
.idea/

# Build output
dist/
build/

# Temporary files
.tmp/
.env