.portfolio__categories {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 3rem 3rem;
  gap: 2rem;
}
.cat__btn {
  padding: 1rem 3rem;
  font-size: 1.3rem;
  transition: all 0.75s ease-in-out;
  color: var(--color-secondary);
  border-radius: 5px;
  border: 2px solid var(--color-secondary) !important;
  z-index: 12;
  transition: all 0.5s ease;
  background-color: transparent;
  font-family: "Iceland";
}
.cat__btn.active {
  background-color: var(--color-secondary);
  color: var(--color-primary);
}
.cat__btn::before {
  background: var(--color-quaternary) !important;
}
.cat__btn:hover {
  background: var(--color-secondary) !important;
  color: var(--color-primary);
  cursor: pointer;
}

@media screen and (max-width: 975px) {
  .cat__btn {
    padding: 1rem 2rem;
    font-size: 1rem;
    transition: transform 0.75s ease-in-out;
    color: var(--color-secondary);
    border: 1px solid var(--color-secondary) !important;
  }
}

@media screen and (max-width: 700px) {
  .portfolio__categories {
    gap: 0.75rem;
    margin: 1.5rem;
  }
  .cat__btn {
    padding: 0.85rem 0.85rem;
  }
}
