.theme__modal {
  background-color: var(--color-quinquenary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Iceland";
  width: 50%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  z-index: 101;
  max-height: 80%;
}
.myDetailsSwiper {
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.swiper_img {
  height: 100%;
  width: 100%;
}
.modal__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  gap: 1rem;
  width: 100%;
}
.modal__text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 1rem;
  color: var(--color-primary);
}
.modal__title {
  font-size: 2rem;
  font-weight: 400;
  color: var(--color-primary);
}

.modal__info,
.modal__desc {
  font-size: 1.5rem;
  line-height: 1.3;
}

.modal__icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  max-width: 30%;
}

.icon {
  color: var(--color-primary);
  font-size: 2.5rem;
}

.icon span {
  font-size: 1rem;
}

.btn__container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1rem;
  gap: 2rem;
}

.git__btn {
  background-color: transparent;
  color: var(--color-primary);
  font-size: 1.6rem;
  font-family: "Iceland";
  padding: 0rem;
  cursor: pointer;
  transition: all 0.5s ease;
  border-bottom: 1px solid transparent;
}

.git__btn:hover {
  border-bottom: 1px solid var(--color-primary);
}

.modal__info {
  font-weight: 100;
  margin-bottom: 0.5rem;
}

.modal__desc {
  margin-top: 0;
}

#backdrop,
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  backdrop-filter: blur(5px);
}

@keyframes animateModal {
  to {
    opacity: 1;
  }
}

@media (max-width: 1025px) {
  .theme__modal {
    background-color: var(--color-quinquenary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Iceland";
    width: 50%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    z-index: 101;
    max-height: 80%;
  }
  .myDetailsSwiper {
    overflow: hidden;
    width: 100%;
    height: 100%;
  }
  .swiper_img {
    height: 100%;
    width: 100%;
  }
  .modal__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    gap: 1rem;
    width: 100%;
  }
  .modal__text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 1rem;
    color: var(--color-primary);
  }
  .modal__title {
    font-size: 1.8rem;
    font-weight: 400;
    color: var(--color-primary);
  }

  .modal__info,
  .modal__desc {
    font-size: 1.2rem;
    line-height: 1.3;
  }

  .modal__icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    max-width: 30%;
  }

  .icon {
    color: var(--color-primary);
    font-size: 2.5rem;
  }

  .icon span {
    font-size: 1rem;
  }

  .btn__container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1rem;
    gap: 2rem;
  }

  .git__btn {
    background-color: transparent;
    color: var(--color-primary);
    font-size: 1.6rem;
    font-family: "Iceland";
    padding: 0rem;
    cursor: pointer;
    transition: all 0.5s ease;
    border-bottom: 1px solid transparent;
  }

  .git__btn:hover {
    border-bottom: 1px solid var(--color-primary);
  }

  .modal__info {
    font-weight: 100;
    margin-bottom: 0.5rem;
  }

  .modal__desc {
    margin-top: 0;
  }
}

/* Responsive Styles for Viewports Under 700px */
@media (max-width: 700px) {
  .theme__modal {
    background-color: var(--color-quinquenary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Iceland";
    width: 70%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    z-index: 101;
    max-height: 50%;
  }
  .myDetailsSwiper {
    overflow: hidden;
    width: 100%;
    height: 100%;
  }
  .swiper_img {
    display: none;
  }
  .modal__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    gap: 0.5rem;
    width: 100%;
  }
  .modal__text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 1rem;
    color: var(--color-primary);
  }
  .modal__title {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--color-primary);
  }

  .modal__info,
  .modal__desc {
    font-size: 1.2rem;
    line-height: 1.3;
  }

  .modal__icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    max-width: 30%;
  }

  .icon {
    color: var(--color-primary);
    font-size: 2rem;
  }

  .icon span {
    font-size: 0.8rem;
  }

  .btn__container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1rem;
    gap: 2rem;
  }

  .git__btn {
    background-color: transparent;
    color: var(--color-primary);
    font-size: 1.2rem;
    font-family: "Iceland";
    padding: 0rem;
    cursor: pointer;
    transition: all 0.5s ease;
    border-bottom: 1px solid transparent;
  }

  .git__btn:hover {
    border-bottom: 1px solid var(--color-primary);
  }

  .modal__info {
    font-weight: 100;
    margin-bottom: 0.5rem;
  }

  .modal__desc {
    margin-top: 0;
  }
}
