.portfolio__project {
  background-color: transparent;
  width: 100%;
  height: 20rem;
  perspective: 5000px;
}
.inner_card {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease;
  transform-style: preserve-3d;
}
.back:hover {
  /* transform: rotateY(180deg); */
  transform: scale(1.01);
}
.front,
.back {
  position: absolute;
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 12px;
  z-index: 333;
  transition: all 0.3s ease-in-out;
  background-color: transparent;
}
.portfolio__project img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.back {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 0rem;
  border: 1px solid var(--color-secondary);
  /* transform: rotateY(180deg); */
  cursor: pointer;
}
.title {
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--color-secondary);
  padding: 0.5rem;
}
.info {
  color: var(--color-secondary);
  font-size: 1.75rem;
  padding: 1.5rem;
  text-align: start;
}
.desc {
  margin-top: auto;
  color: var(--color-secondary);
  font-size: 1.5rem;
  margin-bottom: 0.7rem;
}
.title,
.desc,
.info {
  opacity: 0.9;
  font-family: "Iceland", serif;
}
.btn_div {
  text-align: start;
  margin-top: 0rem;
  width: 100%;
}
.btn_div a:hover {
  border-bottom: 1px solid var(--color-secondary);
}
.btn_div a {
  padding: 0rem;
  font-family: "Iceland";
  color: var(--color-secondary);
  width: 100%;
  opacity: 1;
  text-decoration: none;
  border-radius: 0px;
  font-weight: 200;
  font-size: 1rem;
  transition: all 0.2s linear;
}
.btn_demo {
  border-bottom-right-radius: 0px !important;
  border-right: 2px solid var(--color-primary) !important;
}
.btn_git {
  border-bottom-left-radius: 0px !important;
}

@media screen and (max-width: 1224px) {
  .info {
    font-size: 1.25rem;
  }
  .portfolio__project {
    background-color: transparent;
    width: 100%;
    height: 20rem;
    perspective: 5000px;
  }
}

@media screen and (max-width: 975px) {
  .portfolio__project {
    background-color: transparent;
    width: 80%;
    height: 13rem;
    perspective: 5000px;
    align-self: center;
    justify-self: center;
  }

  .title {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  .info {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 700px) {
  .portfolio__project {
    width: 95%;
    height: 16rem;
    margin-left: 0.5rem;
  }
  .title {
    font-size: 2rem;
  }
  .desc {
    font-size: 1.5rem;
    margin-bottom: 3rem;
  }
  .info {
    display: none;
  }
}
