.theme__modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid var(--color-secondary);
  background-color: var(--color-primary);
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Changed for more predictable layout */
  align-items: center;
  padding: 1rem;
  border-radius: 8px;
  z-index: 101;
  width: 50%;
  max-width: 80%; /* Use percentage for consistent width */
  opacity: 1;
  height: auto; /* Ensure it adapts to content */
  transition: opacity 0.5s ease-in-out;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* Add some shadow for better visibility */
  font-family: "Iceland";
}
.close_modal {
  width: 2rem;
  height: 2rem;
}

.modal__image-container {
  width: 100%;
  max-height: 300px; /* Set a fixed max-height for image */
  overflow: hidden;
  flex-shrink: 0;
  border-radius: 8px;
}

.modal__image {
  width: 100%;
  height: auto; /* Ensure image scales proportionally */
  object-fit: contain;
}

.modal__body {
  display: flex;
  flex-direction: row; /* Adjust for better stacking */
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: 100%;
}

.modal__title {
  font-size: 2rem;
  font-weight: bold;
  color: var(--color-secondary);
  margin: 0;
}

.modal__text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start; /* Ensure text aligns well */
  color: var(--color-secondary);
}

.modal__info {
  font-size: 1.2rem;
  line-height: 1.5;
  z-index: 1000;
}

.icon {
  color: var(--color-secondary);
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex: 0 0 45%;
}

.icon span {
  font-size: 1rem;
}

.modal__icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: var(--color-secondary);
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
}

.btn__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem;
  margin-top: 2rem;
}

.git__btn {
  background-color: transparent;
  color: var(--color-secondary);
  font-size: 2rem;
  font-family: "Iceland";
  font-weight: 100;
  padding: 0.25rem;
  transition: transform 0.3s ease;
  &:hover {
    transform: scale(1.2);
  }
}

.btn__container span {
  font-size: 1.5rem;
  color: var(--color-secondary);
  transition: all 0.5s ease-in-out;
  &:hover {
    transform: rotate(90deg) scale(1.2);
  }
}

/* Backdrop */
#backdrop,
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  backdrop-filter: blur(5px);
}

/* Responsive Styles for Viewports Under 1025px (Tablet) */
@media (max-width: 1025px) {
  .theme__modal {
    width: 90%; /* Ensure modal width is responsive */
    height: auto;
    padding: 1rem;
    margin: 0;
  }

  .modal__title {
    font-size: 2.2rem;
  }

  .modal__info {
    font-size: 1.3rem;
  }

  .modal__body {
    padding: 1rem;
  }

  .btn__container span {
    font-size: 1.2rem;
  }

  .git__btn {
    font-size: 1.8rem;
  }
  .icon {
    flex: 0;
  }
}

/* Responsive Styles for Viewports Under 700px (Mobile) */
@media (max-width: 700px) {
  .theme__modal {
    width: 95%;
    height: auto;
    padding: 1rem;
    margin: 0;
  }

  .modal__title {
    font-size: 1.8rem;
  }
  .modal__body {
    flex-direction: column;
  }
  .modal__info {
    font-size: 1rem;
    line-height: 1.4;
    max-width: 100%;
  }

  .modal__icons {
    margin-top: 0.5rem;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0.5rem;
  }

  .icon {
    padding: 0.5rem;
    font-size: 1.5rem;
  }
  .icon span {
    display: none;
  }

  .git__btn {
    font-size: 1.2rem;
  }

  .btn__container {
    padding: 0rem;
  }

  .btn__container span {
    font-size: 1rem;
  }
}
