#services {
  background-color: var(--color-quinquenary);
  height: 100vh;
  overflow: hidden;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#services h2 {
  margin-top: 2rem;
  font-size: 7rem;
  font-family: "Iceland", serif;
  color: var(--color-primary);
}
h2 .none {
  opacity: 0;
}

.services__container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  font-family: "Iceland", "serif";
}
.services__container .card {
  position: relative;
  background-color: transparent;
  overflow: hidden;
}
.services__container .card .face {
  width: 245px;
  height: 200px;
  transition: 0.5s;
}
.services__container .card .face.face1 {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  position: relative;
  background: var(--color-tertiary);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  overflow: hidden;
  transform: translateY(100px);
}
.services__container .card:hover .face.face1 {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  background: var(--color-quaternary);
  transform: translateY(0);
}
.services__container .card .face.face1 .content {
  color: var(--color-tertiary);
  opacity: 1;
  transition: 0.5s;
}
.services__container .card:hover .face.face1 .content {
  color: var(--color-secondary);
  opacity: 1;
}
.services__container .card .face.face1 .content span {
  max-width: 100px;
  color: var(--color-quaternary);
  transition: 1s all ease;
}
.services__container .card:hover .face.face1 .content span {
  color: var(--color-secondary);
}
.services__container .card .face.face1 .content h3 {
  margin: 10px 0 0;
  padding: 0;
  color: var(--color-quaternary);
  text-align: center;
  font-size: 1.5em;
}
.services__container .card:hover .face.face1 .content h3 {
  color: var(--color-secondary);
}
.services__container .card .face.face2 {
  position: relative;
  background: transparent;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  transform: translateY(-100px);
}
.services__container .card:hover .face.face2 {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: var(--color-secondary);
  transform: translateY(0);
}
.services__container .card .face.face2 .content p {
  margin: 0;
  padding: 0;
  color: var(--color-primary);
  font-size: 1.2rem;
}
.card.one.magictime.slideLeftReturn {
  animation-duration: 2.5s;
}
.card.two.magictime.slideLeftReturn {
  animation-duration: 2s;
}
.card.three.magictime.slideLeftReturn {
  animation-duration: 1.5s;
}
h2.none {
  opacity: 0;
}
.statistics__row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;
  margin-bottom: 3rem;
  background-color: transparent;
  padding: 0rem 1rem;
  border-radius: 10px;
  opacity: 1;
  transition: all 1s ease-in-out;
}
.statistics__row .none {
  opacity: 0;
}
.statistic {
  text-align: center;
}
.statistic h3 {
  font-family: "Iceland", serif;
  font-size: 3.5rem;
  color: var(--color-tertiary);
  margin-bottom: 0.5rem;
}
.statistic p {
  color: var(--color-primary);
  font-family: "Iceland", serif;
  font-size: 1.7rem;
  font-weight: bold;
}
/*LANDSCAPE TABLETS*/
@media (min-width: 807px) and (max-width: 1024px) {
  #services h2 {
    font-size: 5rem;
  }
  .services__container {
    gap: 1rem;
  }
  .services__container .card .face {
    width: 190px;
    height: 150px;
    transition: 0.5s;
  }
  .services__container .card .face.face1 {
    transform: translateY(75px);
  }
  .services__container .card:hover .face.face1 {
    transform: translateY(0);
  }
  .services__container .card .face.face2 {
    padding: 0px;
    transform: translateY(-75px);
  }
  .services__container .card:hover .face.face2 {
    transform: translateY(0);
  }
  .services__container .card .face.face2 .content {
    font-size: 0.6rem;
    height: 100%;
  }
  .services__container .card .face.face2 .content p {
    padding: 0.75rem;
    font-size: 0.9rem;
  }
  .statistics__row {
    gap: 3rem;
    margin-top: 2rem;
  }
  .statistic h3 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
  }
  .statistic p {
    font-size: 1.2rem;
    font-weight: lighter;
  }
}
@media (min-width: 00px) and (max-width: 806px) {
  #services h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  .services__container {
    gap: 0.5rem;
    flex-direction: column;
  }
  .services__container .card .face {
    width: 120px;
    height: 105px;
    transition: 0.5s;
  }
  .services__container .card .face.face1 .content span {
    width: 100px;
    color: var(--color-secondary);
    display: flex;
    justify-content: center;
    transition: 1s all ease;
  }
  .services__container .card .face.face1 {
    transform: translateY(0px);
  }
  .services__container .card:hover .face.face1 {
    transform: translateY(0);
  }
  .services__container .card .face.face2 {
    padding: 0px;
    display: none;
    transform: translateY(-75px);
  }
  .services__container .card:hover .face.face2 {
    transform: translateY(0);
  }
  .services__container .card .face.face2 .content {
    font-size: 0.6rem;
    height: 100%;
  }
  .services__container .card .face.face2 .content p {
    padding: 0.75rem;
    font-size: 0.9rem;
  }
  .statistics__row {
    gap: 1rem;
    margin-top: 1rem;
  }
  .statistic h3 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  .statistic p {
    font-size: 0.8rem;
    font-weight: lighter;
  }
}
