#services {
  background-color: var(--color-quinquenary);
  height: 100vh;
  z-index: 1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
#services h2 {
  margin-top: 2rem;
  font-size: 7rem;
  font-family: "Iceland", serif;
  color: var(--color-primary);
}
h2 .none {
  opacity: 0;
}
.services__container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  font-family: "Iceland", "serif";
  margin-bottom: 15rem;
}
.services__container .service__card {
  position: relative;
  background-color: transparent;
  border: none;
  width: 300px;
  height: 200px;
}
.services__container .service__card .face {
  width: 300px;
  height: 200px;
  transition: 0.5s;
}
.services__container .service__card .face.face1 {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  position: relative;
  background: var(--color-secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  transform: translateY(100px);
}
.services__container .service__card:hover .face.face1 {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  background: var(--color-quaternary);
  transform: translateY(0);
}
.services__container .service__card .face.face1 .content {
  color: var(--color-tertiary);
  opacity: 1;
  text-align: center;
  transition: 0.5s;
}
.services__container .service__card:hover .face.face1 .content {
  color: var(--color-secondary);
  opacity: 1;
}
.services__container .service__card .face.face1 .content span {
  max-width: 100px;
  color: var(--color-quaternary);
  transition: 0.5s all ease;
}
.services__container .service__card:hover .face.face1 .content span {
  color: var(--color-primary);
}
.services__container .service__card .face.face1 .content h3 {
  margin: 10px 0 0;
  padding: 0;
  color: var(--color-quaternary);
  text-align: center;
  font-size: 1.5em;
  transition: color 0.5s ease;
}
.services__container .service__card:hover .face.face1 .content h3 {
  color: var(--color-primary);
}
.services__container .service__card .face.face2 {
  position: relative;
  background: transparent;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  transform: translateY(-100px);
}
.services__container .service__card:hover .face.face2 {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: var(--color-secondary);
  transform: translateY(0);
}
.services__container .service__card .face.face2 .content p {
  margin: 0;
  padding: 0;
  color: var(--color-primary);
  font-size: 1.2rem;
}
.service__card.one.magictime.slideLeftReturn {
  animation-duration: 2.5s;
}
.service__card.two.magictime.slideLeftReturn {
  animation-duration: 2s;
}
.service__card.three.magictime.slideLeftReturn {
  animation-duration: 1.5s;
}
h2.none {
  opacity: 0;
}
.statistics__row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;
  margin-bottom: 10rem;
  background-color: transparent;
  padding: 0rem 1rem;
  border-radius: 10px;
  opacity: 1;
  transition: all 1s ease-in-out;
}
.statistics__row .none {
  opacity: 0;
}
.statistic {
  text-align: center;
}
.statistic h3 {
  font-family: "Iceland", serif;
  font-size: 3.5rem;
  color: var(--color-tertiary);
  margin-bottom: 0.5rem;
}
.statistic p {
  color: var(--color-primary);
  font-family: "Iceland", serif;
  font-size: 1.7rem;
  font-weight: bold;
}
/*LANDSCAPE TABLETS*/
@media (min-width: 701px) and (max-width: 1025px) {
  #services h2 {
    margin-top: 2rem;
    font-size: 6rem;
  }
  .services__container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    font-family: "Iceland", "serif";
  }
  .services__container .service__card {
    position: relative;
    background-color: transparent;
    border: none;
    height: 200px;
    width: 300px;
  }
  .services__container .service__card .face {
    height: 200px;
    width: 300px;
    transition: 0.5s;
  }
  .services__container .service__card .face.face1 {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    position: relative;
    background: var(--color-secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    overflow: hidden;
    transform: translateY(100px);
  }
  .services__container .service__card:hover .face.face1 {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background: var(--color-quaternary);
    transform: translateY(0);
  }
  .services__container .service__card .face.face1 .content {
    color: var(--color-tertiary);
    opacity: 1;
    text-align: center;
    transition: 0.5s;
  }
  .services__container .service__card:hover .face.face1 .content {
    color: var(--color-secondary);
    opacity: 1;
  }
  .services__container .service__card .face.face1 .content span {
    max-width: 100px;
    color: var(--color-quaternary);
    transition: 0.5s all ease;
  }
  .services__container .service__card:hover .face.face1 .content span {
    color: var(--color-primary);
  }
  .services__container .service__card .face.face1 .content h3 {
    margin: 10px 0 0;
    padding: 0;
    color: var(--color-quaternary);
    text-align: center;
    font-size: 1.5em;
    transition: color 0.5s ease;
  }
  .services__container .service__card:hover .face.face1 .content h3 {
    color: var(--color-primary);
  }
  .services__container .service__card .face.face2 {
    position: relative;
    background: transparent;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    transform: translateY(-100px);
  }
  .services__container .service__card:hover .face.face2 {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: var(--color-secondary);
    transform: translateY(0);
  }
  .services__container .service__card .face.face2 .content p {
    margin: 0;
    padding: 0;
    color: var(--color-primary);
    font-size: 1.2rem;
  }
  .service__card.one.magictime.slideLeftReturn {
    animation-duration: 2.5s;
  }
  .service__card.two.magictime.slideLeftReturn {
    animation-duration: 2s;
  }
  .service__card.three.magictime.slideLeftReturn {
    animation-duration: 1.5s;
  }
  h2.none {
    opacity: 0;
  }
  .statistics__row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    margin-bottom: 3rem;
    background-color: transparent;
    padding: 0rem 1rem;
    border-radius: 10px;
    opacity: 1;
    transition: all 1s ease-in-out;
  }
  .statistics__row .none {
    opacity: 0;
  }
  .statistic {
    text-align: center;
  }
  .statistic h3 {
    font-family: "Iceland", serif;
    font-size: 3.5rem;
    color: var(--color-tertiary);
    margin-bottom: 0.5rem;
  }
  .statistic p {
    color: var(--color-primary);
    font-family: "Iceland", serif;
    font-size: 1.7rem;
    font-weight: bold;
  }
}
@media (max-width: 700px) {
  #services h2 {
    margin-top: 1rem;
    font-size: 4rem;
  }
  .services__container {
    margin-top: 2rem;
    flex-direction: column;
    gap: 1rem;
  }
  .services__container .service__card {
    height: 200px;
    width: 300px;
    border-radius: 15px;
  }
  .services__container .service__card .face {
    height: 200px;
    width: 300px;
  }
  .services__container .service__card .face.face1 {
    border-radius: 15px;
    transform: translateY(0px);
    transition: all 1s ease-in-out;
  }
  .services__container .service__card:hover .face.face1 {
    border-radius: 15px;
  }
  .services__container .service__card .face.face2 {
    background: transparent;
    border-radius: 15px;
    z-index: 2;
    transform: translateY(-0px);
    transition: transform 1s ease-in-out, visibility 0s ease;
    visibility: hidden;
  }
  .services__container .service__card:hover .face.face2 {
    border-radius: 15px;
    transform: translateY(-200px);
    visibility: visible;
    z-index: 2;
  }
  .services__container .service__card .face.face2 .content p {
    margin: 0;
    padding: 0;
    color: var(--color-primary);
    font-size: 19px;
  }
}
