input:-webkit-autofill {
  background-color: transparent !important;
  color: var(--color-primary) !important;
  -webkit-text-fill-color: var(--color-primary) !important;
  transition: background-color 5000s ease-in-out 0s;
}
input:-webkit-autofill:focus {
  background-color: var(--color-primary) !important;
  color: var(--color-primary) !important;
  -webkit-text-fill-color: var(--color-primary) !important;
}
#contact {
  display: flex;
  justify-content: center;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
  background-color: var(--color-primary);
}
.contact_container {
  position: relative;
  width: 50rem;
  border-radius: 5px;
  border: 1px solid var(--color-secondary);
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  opacity: 1;
  transition: opacity 1s ease-in-out;
}
.contact_container.none {
  opacity: 0;
}
.contact_container h2 {
  font-size: 3rem;
  color: var(--color-secondary);
  flex-direction: row;
  margin-right: auto;
  margin-left: 1.5rem;
  font-family: "Iceland", serif;
}
.contact_container p {
  font-size: 2rem;
  font-family: "Iceland", serif;
  margin-right: auto;
  margin-left: 2rem;
  color: var(--color-secondary);
}
.container.none {
  display: none;
}
.form__group {
  position: relative;
  padding: 18px;
  width: 100%;
}
.form__field {
  font-family: inherit;
  width: 90%;
  border: none;
  border-bottom: 1px solid var(--color-secondary);
  outline: 0;
  font-size: 1.4rem;
  color: var(--color-secondary);
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}
.form__field::placeholder {
  color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
  font-size: 17px;
  cursor: text;
  top: 20px;
}
.form__label {
  position: absolute;
  top: 0;
  display: block;
  font-size: 1.2rem !important ;
  color: var(--color-secondary);
  opacity: 0.5;
  pointer-events: none;
  font-family: "Iceland", "serif";
}

.contact_container.magictime.slideDownReturn {
  animation-duration: 1.5s;
}
h2.magictime.slideRightReturn {
  animation-duration: 2s;
}
p.magictime.slideUpReturn {
  animation-duration: 2.5s;
}
.cta.magictime.slideRightReturn {
  animation-duration: 2s;
}
a.magictime.slideLeftReturn {
  animation-delay: 1s;
  animation-duration: 1s;
}
.form__field:focus {
  font-weight: 500;
  border-width: 3px;
  border-image: var(--color-primary);
  border-image-slice: 1;
}
.form__field:focus ~ .form__label {
  position: absolute;
  top: -10;
  display: block;
  transition: 0.2s;
  font-size: 1.2rem !important;
  color: var(--color-secondary);
  font-weight: bold;
  opacity: 1;
}

textarea {
  color: var(--color-secondary) !important;
}

.form__field:required,
.form__field:invalid {
  box-shadow: none;
}
.status_msg {
  text-align: center;
  font-size: 1.5rem;
  font-family: "Iceland";
  margin-bottom: 20px;
  color: var(--color-primary);
}
.social-icons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 1rem;
  padding: 0;
}
/* From Uiverse.io by adamgiebl */
.email-btn {
  overflow: hidden;
  margin-top: 1rem;
  font-size: 1.33rem;
  font-family: "Iceland";
  background-color: transparent;
  font-weight: bold;
  padding: 0.7em 2em;
  border: 1px solid var(--color-secondary);
  border-radius: 8px;
  position: relative;
  /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1); */
  color: var(--color-secondary);
  text-decoration: none;
  transition: 0.3s ease all;
  z-index: 1;
}

.email-btn:before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: "";
  background-color: var(--color-secondary);
  color: var(--color-primary);
  z-index: -1;
}

.email-btn:hover,
.email-btn:focus {
  color: var(--color-primary);
}

.email-btn:hover:before,
.email-btn:focus:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}

.email-btn:active {
  transform: scale(0.9);
}
@media (max-width: 1025px) {
  .contact_container {
    width: 90%;
    height: 30%;
    border: none;
    margin: 10px;
    padding: 5px 0px;
    text-align: center;
    justify-content: flex-start;
    background-color: transparent;
    margin-top: 0rem;
  }
  #contact {
    display: none;
  }
  .contact_container h2,
  .contact_container p {
    display: none;
  }
  .form__group {
    display: none;
  }
  .form__field {
    font-size: 1.2rem;
    padding: 24px;
  }

  button.cta {
    font-size: 20px;
    padding: 12px;
  }
  .status_msg {
    font-size: 1.2rem;
    font-weight: bold;
  }
}

@media (max-width: 700px) {
  .contact_container {
    width: 90%;
    height: 30%;
    border: none;
    margin: 10px;
    padding: 5px 0px;
    text-align: center;
    justify-content: flex-start;
    background-color: transparent;
    margin-top: 0rem;
  }
  #contact {
    height: 0vh;
  }
  .contact_container h2,
  .contact_container p {
    display: none;
  }
  .form__group {
    display: none;
  }
  .form__field {
    font-size: 1.2rem;
    padding: 24px;
  }

  button.cta {
    font-size: 20px;
    padding: 12px;
  }
  .status_msg {
    font-size: 1.2rem;
    font-weight: bold;
  }
}
