input:-webkit-autofill {
  background-color: transparent !important;
  color: var(--color-primary) !important;
  -webkit-text-fill-color: var(--color-primary) !important;
  transition: background-color 5000s ease-in-out 0s;
}
input:-webkit-autofill:focus {
  background-color: var(--color-tertiary) !important;
  color: var(--color-primary) !important;
  -webkit-text-fill-color: var(--color-primary) !important;
}
#contact {
  display: flex;
  justify-content: center;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
  background-color: var(--color-quinquenary);
}
.contact_container {
  position: relative;
  width: 50rem;
  border-radius: 5px;
  background: var(--color-secondary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  opacity: 1;
  transition: opacity 1s ease-in-out;
}
.contact_container.none {
  opacity: 0;
}
.contact_container h2 {
  font-size: 3rem;
  color: var(--color-primary);
  flex-direction: row;
  margin-right: auto;
  margin-left: 1.5rem;
  font-family: "Iceland", serif;
}
.contact_container p {
  font-size: 2rem;
  font-family: "Iceland", serif;
  margin-right: auto;
  margin-left: 2rem;
  color: var(--color-quaternary);
}
.container.none {
  display: none;
}
.form__group {
  position: relative;
  padding: 18px;
  width: 100%;
}
.form__field {
  font-family: inherit;
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--color-quinquenary);
  outline: 0;
  font-size: 1.4rem;
  color: var(--color-primary);
  padding: 7px 0;
  background: var(--color-secondary);
  transition: border-color 0.2s;
}
.form__field::placeholder {
  color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
  font-size: 17px;
  cursor: text;
  top: 20px;
}
.form__label {
  position: absolute;
  top: 0;
  display: block;
  font-size: 1.2rem !important ;
  color: var(--color-primary);
  opacity: 0.5;
  pointer-events: none;
  font-family: "Iceland", "serif";
}
.contact_container.magictime.slideDownReturn {
  animation-duration: 1.5s;
}
h2.magictime.slideRightReturn {
  animation-duration: 2s;
}
p.magictime.slideUpReturn {
  animation-duration: 2.5s;
}
.cta.magictime.slideRightReturn {
  animation-duration: 2s;
}
a.magictime.slideLeftReturn {
  animation-delay: 1s;
  animation-duration: 1s;
}
.form__field:focus {
  font-weight: 500;
  border-width: 3px;
  border-image: var(--color-tertiary);
  border-image-slice: 1;
}
.form__field:focus ~ .form__label {
  position: absolute;
  top: -10;
  display: block;
  transition: 0.2s;
  font-size: 1.5rem !important;
  color: var(--color-primary);
  font-weight: bold;
  opacity: 1;
}
.cta {
  position: relative;
  padding: 12px 12px;
  transition: all 0.2s ease;
  border: none;
  background: none;
  cursor: pointer;
  margin-right: auto;
}
.cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 50px;
  background: var(--color-quaternary);
  width: 57px;
  opacity: 0.8;
  height: 57px;
  transition: all 0.3s ease;
}
textarea {
  color: var(--color-primary) !important;
}
.cta span {
  position: relative;
  font-family: "Iceland", serif;
  font-size: 2rem;
  font-weight: 700;
  color: var(--color-primary);
  padding: 5px;
}
.cta:hover:before {
  width: 100%;
  opacity: 1;
}
.cta:hover span {
  transform: translateX(0);
}
.cta:active {
  transform: scale(0.95);
}
.form__field:required,
.form__field:invalid {
  box-shadow: none;
}
.status_msg {
  text-align: center;
  font-size: 1.5rem;
  font-family: "Iceland";
  margin-bottom: 20px;
  color: var(--color-quaternary);
}

@media (max-width: 1025px) {
  .contact_container {
    width: 75%;
  }
}

@media (max-width: 700px) {
  .contact_container {
    width: 90%;
    height: 70%;
    margin: 10px;
    padding: 5px 0px;
    text-align: center;
    justify-content: flex-start;
    background-color: transparent;
    margin-top: 15rem;
  }
  /* .contact_container h2 {
    padding: 0.5rem;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: var(--color-primary);
  }
  .contact_container p {
    color: var(--color-primary);
    margin-bottom: 4rem;
    margin-right: 1rem !important;
    justify-content: center;
    align-items: center;
    text-align: center;
  } */
  .contact_container h2,
  .contact_container p {
    display: none;
  }
  .form__group {
    display: none;
  }
  .form__field {
    font-size: 1.2rem;
    padding: 24px;
  }

  button.cta {
    font-size: 20px;
    padding: 12px;
  }
  .status_msg {
    font-size: 1.2rem;
    font-weight: bold;
  }
}
