.hover-this {
  transition: all 0.3s ease;
}

.cursor {
  pointer-events: none;
  position: fixed;
  padding: 0.3rem;
  background-color: #fff;
  border-radius: 50%;
  mix-blend-mode: difference; /* Creates a contrast effect */
  transition: transform 0.3s ease, width 0.3s ease, height 0.3s ease;
  transform: translate(-50%, -50%) scale(1);
  z-index: 1044444400;
}

.hover-cursor {
  transform: translate(-50%, -50%) scale(5); /* Enlarge the cursor on hover */
  background-color: #fff;
}

@media (max-width: 1200px) {
  .cursor {
    display: none;
  }
  .hover-cursor {
    display: none;
  }
}
