.weather-container {
  background-color: transparent;
  position: fixed;
  padding: 1rem;
  top: 0%;
  text-align: start;
  font-family: monospace;
  display: flex;
  flex-direction: row;
  height: 4rem;
  z-index: 1;
  opacity: 1;
  transition: opacity 0.75s ease;
}
.weather-container.hide {
  opacity: 0;
}
.shuffle {
  color: orangered;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s ease-in-out;
}
.shuffle:hover {
  transform: scale(1.1);
}
.time {
  color: var(--color-secondary);
  font-size: 1rem;
  text-align: end;
  letter-spacing: 1px;
}
.city {
  color: var(--color-secondary);
  font-size: 1rem;
  text-align: end;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 1px;
}
.weather-details {
  margin-top: 0.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.weather-details .temperature {
  font-size: 1rem;
  color: var(--color-secondary);
  text-align: end;
}

.loading,
.error {
  text-align: center !important;
  font-size: 2rem;
  color: var(--color-secondary);
  background-color: transparent;
  padding: 1rem;
  animation: spin 1.5s infinite linear;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 1025px) {
  .weather-container {
    padding: 0rem;
    top: 1%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    height: auto;
    width: 30%;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
  }
  .weather-details {
    margin-top: 0rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
  .shuffle {
    color: var(--color-secondary);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .time {
    color: var(--color-secondary);
    font-size: 1.2rem;
    text-align: center;
    letter-spacing: 1px;
  }
  .city {
    color: var(--color-secondary);
    font-size: 1.2rem;
    text-align: end;

    letter-spacing: 1px;
  }

  .weather-container .temperature {
    font-size: 1.2rem;
    color: var(--color-secondary);
    text-align: end;
  }

  .loading,
  .error {
    text-align: center !important;
    font-size: 1.8rem;
    color: var(--color-secondary);
    background-color: transparent;
    padding: 0rem;
    animation: spin 1.5s infinite linear;
  }
}
@media (max-width: 1025px) and (orientation: landscape) {
  .shuffle {
    display: none;
  }
  .time {
    display: none;
  }
  .weather-container {
    margin-top: 0.5rem;
  }
}
@media (max-width: 700px) {
  .weather-container {
    padding: 0.2rem;
    top: 1%;
    display: flex;
    margin-left: 0.5rem;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: auto;
    width: auto;
    z-index: 2;
    margin-top: 0.2rem;
    left: 50%;
    transform: translateX(-50%);
  }
  .weather-details {
    margin-top: 0rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
  .shuffle {
    display: none;
  }
  .time {
    display: none;
  }
  .city {
    color: var(--color-secondary);
    font-size: 1rem;
    text-align: center;
    letter-spacing: 1px;
  }

  .weather-container .temperature {
    font-size: 0.8rem;
    color: var(--color-secondary);
    text-align: end;
    margin-left: 0.5rem;
  }

  .loading,
  .error {
    text-align: center !important;
    font-size: 1.8rem;
    color: var(--color-secondary);
    background-color: transparent;
    padding: 0rem;
    animation: spin 1.5s infinite linear;
  }
}
