#header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: var(--color-quinquenary);
}
.myName {
  opacity: 0;
  transform: translateX(-50px); /* Initial fade-left position */
  transition: opacity 2s ease, transform 2s ease;
  margin-top: 15rem;
  text-align: center;
  color: var(--color-primary) !important;
}
.myName,
.desc_p {
  opacity: 0;
  transform: translateX(-50px); /* Initial off-screen position */
  transition: opacity 2s ease, transform 2s ease;
}
.fade-left-active {
  opacity: 1;
  transform: translateX(0); /* Final position */
}
.fade-right-active {
  opacity: 1;
  transform: translateX(0);
}
.desc_p {
  font-size: 1.75rem;
  font-family: "Iceland", serif;
  color: var(--color-tertiary) !important;
  margin-bottom: 1rem;
}
.down__arrow {
  color: var(--color-primary);
  font-size: 3rem;
  z-index: 1;
  margin-bottom: 5rem;
  margin-top: 5rem;
  cursor: pointer;
  opacity: 0;
  animation: fadeInRight 2s 2s forwards; /* Trigger animation with delay */
  transition: transform 1s ease !important;
}
.down__arrow:hover {
  transform: scale(1.05) !important;
}
@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.header__container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.iceland-regular {
  font-family: "Iceland", serif;
  font-weight: 400;
  font-style: normal;
}
@media (max-width: 1024px) {
  .myName {
    font-size: 4rem !important;
  }
  .desc_p {
    font-size: 1.5rem !important;
  }
}
@media (max-width: 600px) {
  .myName {
    font-size: 3rem !important;
  }
  .desc_p {
    font-size: 1.5rem !important;
  }
}
@media (max-width: 480px) {
  /* Extra Small Mobile (Portrait) */
  .myName {
    font-size: 2.75rem !important;
  }
  .desc_p {
    font-size: 1.5rem !important;
  }
}
