* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
}
/* Track */
::-webkit-scrollbar-track {
  background: var(--color-primary);
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-secondary);
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-primary);
}

h1,
h2,
h3,
h4,
h5,
p {
  cursor: default;
}
html {
  scroll-behavior: smooth;
}
:root {
  --color-primary: #333333;
  --color-secondary: #92a8d1;
  --color-tertiary: #666666;
  --color-quaternary: #f7cac9;
  --color-quinquenary: #f2f2f2;
}
main.color-1 {
  --color-primary: #243127;
  --color-secondary: #ffdf7c;
  --color-tertiary: #feb640;
  --color-quaternary: #a46379;
  --color-quinquenary: #fdf8e7;
}
main.color-2 {
  --color-primary: #eef3f9;
  --color-secondary: #1d3f58;
  --color-tertiary: #b3cde4;
  --color-quaternary: #537692;
  --color-quinquenary: #001b2e;
}

.container {
  width: var(--container-width-lg);
  max-width: 1920px;
}
section {
  height: 100vh;
}
